.form-page {
  margin: auto;
  max-width: 600px;
  padding: 20px;
}

.navigation {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.nav-link {
  text-decoration: none;
  color: #3d3bff;
  font-weight: bold;
}
