.term-card {
  padding: 24px;
  border-radius: 24px;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.term-card__image-container {
  width: 100%;
  overflow: hidden;
  border-radius: 16px;
}

.term-card__image {
  width: 100%;
  height: auto;
  max-height: 200px;
  object-fit: cover;
}

.term-card__title {
  margin: 0;
}

.term-card__description {
  margin: 0;
}

.term-card_delete {
  background-color: #ff9999;
  border: none;
  padding: 4px 8px;
  border-radius: 4px;
  width: fit-content;
  cursor: pointer;
  align-self: flex-end;
}

/* Стили для предварительного просмотра в форме */
.image-preview {
  margin-top: 10px;
}

.preview-image {
  max-width: 200px;
  max-height: 150px;
  border-radius: 8px;
}
