.terms-page {
  margin: auto;
  max-width: 1200px; /* Ширина страницы соответствует сетке */
  padding: 20px 20px 40px; /* Больше отступа снизу */
  box-sizing: border-box;
}

.dictionary-app__header {
  text-align: center;
  margin-bottom: 20px;
}

