.term-card {
    padding: 24px;
    border-radius: 24px;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.term-card__title {
    margin: 0;
}

.term-card__description {
    margin: 0;
}

.term-card_delete {
    background-color: #ff9999;
    border: none;
    padding: 4px 8px;
    border-radius: 4px;
    width: fit-content;
    cursor: pointer;
    align-self: flex-end;
}